<footer class="site-footer">
  <p>
    Useful?
    <a href="bitcoin:18wJoWPnEbCN8AL7B9Vj9znvTBQgW72jmv?label=blog">18wJoWPnEbCN8AL7B9Vj9znvTBQgW72jmv</a>
    &#9786;
  </p>
  <p>
    Disagree? Got a question? Found a typo?
    Email <a href="mailto:blog@infertux.com?subject=%5bBlog%5d">blog@infertux.com</a>.
  </p>
  <p>
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA</a> -
    <a href="https://github.com/infertux/infertux.github.io">Source</a>
  </p>
</footer>
