<footer class="site-footer">
  <p>
    Helpful? <a href="https://www.bitcoincash.org/" target="_blank">Bitcoin Cash</a> tip jar:
    <a class="bitcoin" href="bitcoincash:qq0kwumwvma3jz6zusarg9rwaf8uwzz345ue3le3mr?label=infertux.com">qq0kwumwvma3jz6zusarg9rwaf8uwzz345ue3le3mr</a>
    <img class="bitcoin" src="/bitcoin-qr-code.png" alt="Bitcoin QR code">
  </p>
  <p>
    Disagree? Got a question? Found a typo?
    Email <a href="mailto:blog@infertux.com?subject=%5bBlog%5d">blog@infertux.com</a>.
  </p>
  <p>
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA</a> -
    <a href="https://github.com/infertux/infertux.github.io">Source</a>
  </p>
</footer>
