<footer class="site-footer">
  <p>
    Helpful? Bitcoin tip jar:
    <a class="bitcoin" href="bitcoin:192TgFGjiRKCJtXAQAv1urnvQXGZV2wwBt?label=infertux.com">192TgFGjiRKCJtXAQAv1urnvQXGZV2wwBt</a>
    <img class="bitcoin" src="/bitcoin-qr-code.png" alt="Bitcoin QR code">
  </p>
  <p>
    Disagree? Got a question? Found a typo?
    Email <a href="mailto:blog@infertux.com?subject=%5bBlog%5d">blog@infertux.com</a>.
  </p>
  <p>
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA</a> -
    <a href="https://github.com/infertux/infertux.github.io">Source</a>
  </p>
</footer>
