/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    float: left;

    a {
        font-size: 26px;
        font-weight: 300;
        line-height: 56px;
        letter-spacing: -1px;
        margin-bottom: 0;

        &,
        &:visited {
            color: $grey-color-dark;
        }
    }

    .description {
        margin: 20px;
        color: $grey-color-dark;

        @include media-query($on-laptop) {
            display: none;
        }
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg path {
                fill: $grey-color-dark;
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
}


/**
 * Pages
 */
.page-content {
    padding: $spacing-unit / 2 0;
}

.page-heading {
    font-size: 20px;
}



/**
 * Posts
 */
.post-meta {
    color: $grey-color-dark;
    display: block;
}

.post-link {
    font-size: $base-font-size;
}

.post-header {
    margin-bottom: $spacing-unit;

    .post-meta {
        font-size: $small-font-size;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    img {
        margin: 0 auto 1.5em;
        display: block;
        border-radius:.3em;
        box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
        border: #fff 0.5em solid;
    }
}



/**
 * Home
 */
.home {
    display: flex;
    flex-flow: row;

    @include media-query($on-laptop) {
        flex-flow: column;

        > * {
            text-align: left !important;
        }
    }

    > * {
        width: 100%;
        padding-bottom: $spacing-unit / 2;

        &:last-child {
            text-align: right;
        }

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

.list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 2;
    }
}

img.bitcoin {
    width: 1rem;

    &:hover {
        width: 99px;
    }
}
