body {
    margin: 8px auto;
    background: #000 url(bg.png) no-repeat top left;
    font-family: "Trebuchet MS", sans-serif;
    color: #FFF;
}

h1 {
    margin: 0 36px 0 0;
    padding: 73px 16px 16px 25px;
    font-style: italic;
    font-size: xx-large;
    float: left;
    background: url(biohazard.png) no-repeat top right;
}

h2 {
    color: #f70;
}

a { 
    color: #aaa;
    text-decoration: none;
    outline: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a[name] {
    text-decoration: none;
}

a[href="#"] {
    float: right;
    color: #ccc;
    padding-right: 8px;
}

hr {
    border: 1px dashed #f70;
}

nav {
    display: block;
    padding: 16px 8px 16px 20px;
    margin: 10px 0 0 300px;
    border-left: 2px solid #f70;
}

nav ul {
    list-style-image: url('labs.gif');
}

nav a {
    margin: 4px;
    color: #a80;
    line-height: 1em;
}

nav a:hover {
    color: #fff;
}

